{% extends 'layout/basic.html' %}

{% block title %}{{ current_rubric.name }}{% endblock %}

{% block content %}
    <h2>Rubric: {{ current_rubric.name }}</h2>
    {% for bb in bbs %}
        <div>
            <h2><a href="{% url 'detail' pk=bb.pk %}">{{ bb.title }}</a></h2>
            <p>{{ bb.content }}</p>
            <p>{{ bb.published }}</p>
        </div>
    {% endfor %}
{% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <h1>Warning!</h1>
                    {% endif %}
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
{% endif %}
{% endblock %}