{% extends 'layout/basic.html' %}
{% load bbcode_tags %}
{% load thumbnail %}

{% block content %}

<img src="{% thumbnail img.img 'default' bw=True %}">
<img src="{% thumbnail img.img 'default' %}">
<img src="{% thumbnail img.img '300x200' crop='smart' %}">

<h2>You can go through VK</h2>
<a href="{% url 'social:begin' 'vk-oauth2' %}">Login VK</a>

    <div>
        {% if user.is_authenticated %}
        <p>Hello {{ user.username }}</p>
        {% endif %}
    </div>

    <!--Код для пагинатора-->
    <div>
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">&lt;</a>
            &nbsp; &nbsp; | &nbsp; &nbsp;
        {% endif %}
        Part №{{ page.number }} of {{ page.paginator.num_pages }}
        {% if page.has_next %}
            &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="?page={{ page.next_page_number }}">&gt;</a>
        {% endif %}
    </div>

    {% for bb in bbs %}
        <div>
            <h2><a href="{% url 'detail' pk=bb.pk %}">{{ bb.title }}</a></h2>
            {% bbcode bb.content %}
            <p><a href="{% url 'by_rubric' bb.rubric.pk %}">{{ bb.rubric.name }}</a></p>
            <p>{{ bb.published }}</p>
        </div>
    {% endfor %}

<p>
    {% for d in date_list %}
        <h4>Years - {{ d.year }}</h4>
    {% endfor %}
</p>

{% endblock %}